.search-autocomplete {
    position: absolute;
    top: 41px;
    width: 100%;
    background-color: #dbd9da;
    z-index: 100;
    border: solid #1ae4ff 1px;
}
.search-autocomplete p {
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}